@font-face {
	font-family: "Nerd", "Menlo", "Monaco", "Liberation Mono", "DejaVu Sans Mono";
	src: url("../../static/assets/fonts/3270/3270NerdFontMono-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
:root {
	font-family: "Nerd", monospace;
	background-color: #000000;
	color: #ffffff;
	margin: 0;
	padding: 0;
}